// logo font-weight animation
@keyframes logo-font-weight {
  0% {
    opacity: 0;
    font-weight: 100;
  }

  50% {
    opacity: 0.25;
    font-weight: 900;
  }

  100% {
    opacity: 1;
    font-weight: 700;
  }
}
// menu list slide to right animation
@keyframes menu-items-slide-right {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// menu-link--current animation
@keyframes link-current-emersion {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// contacts list slide to right animation
@keyframes contacts-items-slide-right {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// menu-link--current animation
@keyframes link-current-emersion {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
