// Variables colors
// white-colors
$basic-white: #ffffff;
$secondary-white: #eeeeee;

// gray-colors
$basic-grey: #757575;
$secondary-grey: #f5f4fa;
$border-grey: #ececec;
$form-border-grey: rgba(255, 255, 255, 0.3);
$icon-gray: #afb1b8;
$link-grey: rgba(255, 255, 255, 0.6);
$social-grey: rgba(255, 255, 255, 0.1);
$comment-grey: rgba(117, 117, 117, 0.5);
$shadow-grey: rgba(0, 0, 0, 0.15);

// black-colors
$basic-black: #212121;
$secondary-black: #2f303a;
$deep-black: #000000;

// blue-colors
$basic-blue: #2196f3;
$secondary-blue: #188ce8;
$overlay-blue: rgba(33, 150, 243, 0.9);

// Variables animation
$animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
