// cards styles
.cards {
  @media screen and(min-width: 768px) {
    @include grid();
  }
}

.cards__item {
  @media screen and(max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width: 768px) {
    @include grid-item(2);
  }

  @media screen and(min-width: 1200px) {
    @include grid-item(3);
  }
}

.cards__link {
  display: block;
  transition: box-shadow $animation-timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cards__thumb {
  @include position(relative);

  overflow: hidden;

  @media screen and(max-width: 767.98px) {
    max-width: 450px;
    max-height: 404px;
  }

  @media screen and(min-width: 768px) {
    max-width: 354px;
    max-height: 440px;
  }

  @media screen and(min-width: 1200px) {
    max-width: 370px;
    max-height: 294px;
  }
}

.cards__content {
  padding: 20px 24px;
  border: 1px solid getColor('secondary-white-cl');
  border-top: none;
}

.cards__title {
  @include fonts($fw: 700, $fs: 18px, $lh: 36px, $cl: getColor('basic-black-cl'));
  margin-bottom: 4px;
}

.cards__desc {
  @include fonts($fs: 16px, $lh: 30px, $cl: getColor('basic-grey-cl'));
}
