// checkbox styles
.checkbox {
  @include flex($indent: 7px);

  margin-bottom: 30px;
  user-select: none;

  @media screen and(max-width: 1199.98px) {
    font-size: 12px;
  }
}

.checkbox__icon {
  width: 16px;
  height: 15px;
}

.icon--unchecked {
  opacity: 1;
  transition: 300ms;
}

.icon--checked {
  opacity: 0;
  transition: 300ms;
}

.checkbox__input:checked + .checkbox__icon .icon--checked {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__icon .icon--unchecked {
  opacity: 0;
}
