// site logo styles
.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: getColor('basic-blue-cl');

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
    animation: logo-font-weight 2000ms ease-in-out 500ms both;
  }

  &__tail-dark {
    color: getColor('deep-black-cl');
  }

  &__tail-light {
    color: getColor('basic-white-cl');
  }
}
