// site logo styles
.logo {
  @include fonts($fw: 700, $fs: 24px, $lh: 28px, $cl: getColor('basic-blue-cl'));
  display: block;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
    animation: logo-font-weight 2000ms ease-in-out 500ms both;
  }

  &__tail-dark {
    color: getColor('deep-black-cl');
  }

  &__tail-light {
    color: getColor('basic-white-cl');
  }
}
