// subscribe form
.subscribe__appeal {
  @include fonts($fw: 700, $fs: 14px, $lh: 16px, $cl: getColor('basic-white-cl'));
  display: block;
  margin-bottom: 20px;

  text-transform: uppercase;
}

.subscribe__field {
  @media screen and(max-width: 767.98px) {
    @include flex($fd: column, $indent: 20px);
  }

  @media screen and(min-width: 1200px) {
    @include flex($jc: false, $indent: 12px);
  }
}
.subscribe__lebel {
  @media screen and(max-width: 767.98px) {
    width: 100%;
  }
}
.subscribe__input {
  padding: 15px 16px;

  border: 1px solid getColor('form-border-grey-cl');
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px getColor('shadow-grey-cl'));
  color: getColor('link-grey-cl');
  background-color: inherit;
  @media screen and(max-width: 767.98px) {
    width: 100%;
  }

  @media screen and(min-width: 768px) and(max-width: 1199.98px) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and(min-width: 1200px) {
    width: 358px;
  }

  &::placeholder {
    @include fonts($fs: 16px, $lh: 20px);
  }
}
