// features styles
.features {
  @include section-indent($pt: 60px);

  @media screen and(min-width: 1200px) {
    @include section-indent($pb: 0);
  }

  &__container {
    @include container;
  }

  &__list {
    @media screen and(min-width: 768px) {
      @include grid();
    }
  }

  &__item {
    @media screen and(min-width: 768px) and(max-width: 1199.98px) {
      @include grid-item(2);
    }

    @media screen and(min-width: 1200px) {
      @include grid-item(4);
    }
  }

  &__wrapper {
    @include flex();

    position: relative;

    height: 120px;
    background: getColor('secondary-grey-cl');
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__subtitle {
    @include fonts($fw: 700, $fs: 14px, $lh: 16px, $cl: getColor('basic-black-cl'));
    margin-bottom: 10px;

    text-transform: uppercase;
  }

  &__text {
    @include fonts($fs: 14px, $lh: 24px, $cl: getColor('basic-grey-cl'));
  }
}
