.footer {
  padding: 60px 0;

  background-color: getColor('secondary-black-cl');

  &__container {
    @include container;

    @media screen and(min-width: 768px) {
      @include flex($fw: wrap, $ai: baseline);
    }
    @media screen and(max-width: 1199.98px) {
      text-align: center;
    }

    @media screen and(min-width: 1200px) {
      @include flex($ai: baseline, $indent: 93px);
    }
  }
  &__contacts {
    @media screen and(min-width: 768px) and(max-width: 1199.98px) {
      margin-right: 185px;
    }

    @media screen and(max-width: 1199.98px) {
      margin-bottom: 60px;
    }
  }

  &__address {
    margin-top: 20px;
    font-style: normal;
  }

  &__list {
    @include flex($fd: column, $ai: false, $jc: false, $indent: 9px);
  }

  &__socials {
    @media screen and(max-width: 767.98px) {
      margin-bottom: 60px;
    }
  }

  &__appeal {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('basic-white-cl');
  }
}

.footer__link {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: getColor('link-grey-cl');

  transition: color $animation-timing-function;

  &:hover,
  &:focus {
    color: getColor('basic-blue-cl');
  }

  &--map {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: getColor('basic-white-cl');
  }
}
