// partners styles
.partners {
  @include section-indent(60px);

  @media screen and(min-width: 1200px) {
    @include section-indent();
  }

  &__container {
    @include container;
  }

  &__title {
    @extend %section-title;

    @media screen and(min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}
.partners__list {
  @include grid();
}

.partners__item {
  @media screen and(max-width: 767.98px) {
    @include grid-item(2);
  }

  @media screen and(min-width: 768px) {
    @include grid-item(3);
  }

  @media screen and(min-width: 1200px) {
    @include grid-item(6);
  }

  width: 170px;
  height: 92px;
}

.partners__link {
  @include flex();

  width: 100%;
  height: 100%;
  border: 1px solid getColor('icon-grey-cl');
  border-radius: 4px;

  color: getColor('icon-grey-cl');

  transition: color $animation-timing-function, border-color $animation-timing-function;

  &:hover,
  &:focus {
    color: getColor('basic-blue-cl');
    border-color: getColor('basic-blue-cl');
  }
}

.partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
